# ===============================
# SARM ROS Deployment Config
# ===============================

_target_: workspace.stage_srv_ws.SARMWorkspace

cfg:
  # ---------- General ----------
  general:
    project_name: "pick_cube_sim"
    task_name: "pick_cube_sim"

    camera_names:
      - "observation.images.primary"
      - "observation.images.wrist"

    seed: 42
    device: "cuda"

    # norm stats（推理必须）
    state_norm_path: "/home/dx/waylen/SARM/transformed_datasets/pick_cube_sim_sparse/meta/sarm_stats.json"


  # ---------- Encoders ----------
  encoders:
    vision_ckpt: "openai/clip-vit-base-patch32"
    text_ckpt: "openai/clip-vit-base-patch32"


  # ---------- Model ----------
  model:
    d_model: 768
    n_layers: 8
    n_heads: 12
    dropout: 0.1

    n_obs_steps: 8
    max_rewind_steps: 4
    frame_gap: 1

    state_dim: 7
    no_state: false

    num_classes_sparse: 2 # num_classes = num_stage
    sparse_annotation_list: [
            "approach to the cube", 
            "align with the cube and pick it up"
    ]

    # Dense anno
    num_classes_dense: 3 # num_classes = num_stage
    dense_annotation_list: [
            "approach to the cube", 
            "align with the cube",
            "pick it up"
    ]

  # ---------- Evaluation / Inference ----------
  eval:
    ckpt_path: "/home/dx/waylen/SARM/opensarm/outputs/2026-02-05/19-11-57/reward_sarm/pick_cube_sim/checkpoints"
    stage_model: "stage_step_004000_loss_0.000.pt"
    subtask_model: "subtask_step_004000_loss_0.047.pt"

    model_type: "dense"
    dataset_type: "dense"


  # ---------- ROS ----------
  ros:
    node_name: "sarm_stage_server"
    service_name: "/sarm/stage_inference"
