_target_: workspace.sarm_ws.SARMWorkspace

cfg:
  general:
    # dataset specific
    project_name: "reward_sarm"
    task_name: "pick_cube_sim"
    repo_id_sparse: "/home/dx/waylen/SARM/transformed_datasets/pick_cube_sim_sparse"  # path to the huggingface lerobot dataset: USR_NAME/DATASET
    repo_id_dense: "/home/dx/waylen/SARM/transformed_datasets/pick_cube_sim_dense"    # path to the huggingface lerobot dataset: USR_NAME/DATASET
    state_norm_path: "/home/dx/waylen/SARM/transformed_datasets/pick_cube_sim_sparse/meta/sarm_stats.json" # path to the task specific norm stats file, example can be found at "assets/fold_tshirt.json"
    camera_names:  ["observation.images.primary", "observation.images.wrist"]
    seed: 42
    device: "cuda" 

  dataloader:
    batch_size: 32
    num_workers: 16
    shuffle: True
    pin_memory: True
    persistent_workers: True

  val_dataloader:
    batch_size: 32
    num_workers: 32
    shuffle: False
    pin_memory: True
    persistent_workers: True

  rollout_dataloader:
    batch_size: 1 
    num_workers: 6
    shuffle: True
    pin_memory: True
    persistent_workers: True

  encoders:               
    # CLIP
    vision_ckpt: "openai/clip-vit-base-patch32"
    text_ckpt: "openai/clip-vit-base-patch32"

  model:
    d_model: 768          
    n_layers: 8
    n_heads: 12
    dropout: 0.1
    n_obs_steps: 8
    max_rewind_steps: 4
    frame_gap: 10
    state_dim: 7
    no_state: False
    resume_training: False
    model_path: ""

    # Sparse anno
    num_classes_sparse: 2 # num_classes = num_stage
    sparse_annotation_list: [
            "approach to the cube", 
            "align with the cube and pick it up"
    ]

    # Dense anno
    num_classes_dense: 3 # num_classes = num_stage
    dense_annotation_list: [
            "approach to the cube", 
            "align with the cube",
            "pick it up"
    ]

  optim:
    lr: 5e-5
    weight_decay: 5.0e-3
    betas: [0.9, 0.95]
    eps: 1.0e-8
    warmup_steps: 1000
    total_steps: 100_000

  train:
    num_epochs: 301
    grad_clip: 1.0
    log_every: 50          # steps
    eval_every: 50          # epochs
    save_every: 1_000      # steps
    val_portion: 0.1       # fraction of episodes for validation

  eval:
    eval_frame_gap: 1

    ckpt_path: "/home/dx/waylen/SARM/opensarm/outputs/2026-02-05/19-11-57/reward_sarm/pick_cube_sim/checkpoints"    # path to the folder containing reward_best.pt
    stage_model: "stage_best.pt"      # name of the stage model, e.g. stage_best.pt
    subtask_model: "subtask_best.pt"  # name of the subtask model, e.g. subtask_best.pt

    # Evaluation type
    model_type: "dense"       # "sparse" or "dense"
    dataset_type: "dense"    # "sparse" or "dense"
    run_times: 20             # number of episodes to evaluate in dataset

    # Raw data evaluation
    raw_data_dir: "/home/dx/waylen/SARM/raw_data/insert_wire"  # path to the folder containing raw robot trajectories for evaluation
    raw_data_run_times: 60
    
    
